nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 10%;
  background-color: #170239;
  color: #fff;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}

@media screen and (max-width: 992px) {
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #170239;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

.nav-links li {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.title {
  text-align: center;
  height: 20px;
  padding-top: 30px;
  text-shadow: #170239;
  text-decoration: #170239;
  color: rgb(0, 86, 86);
}
